* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: hsl(185, 75%, 39%);
  position: fixed;
  text-align: center;
}

.top {
  position: fixed;
  right: 46%;
  bottom: 40%;
}

.bottom {
  position: fixed;
  left: 38%;
  top: 48%;
} 

.card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info {
  background-color: #fff;
  width: 350px;
  z-index: 10;
  border-radius: 1rem;
}

.images {
  background-image: url(./images/bg-pattern-card.svg);
  height: 140px;
  width: 350px;
  border-radius: 1rem 1rem  0 0;
  margin-bottom: 4.5rem;
}

.photo {
  border-radius: 50%;
  border: 0.3rem solid #fff;
  margin-bottom: 0;
  height: 96px;
  width: 96px;
  transform: translateY(100%);
}

.name {
  margin-bottom: 1rem;
}

hr {
  opacity: 0.2;
  width: 99%;
  margin: 0 auto;
}

.card-info-stats {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
}

.gb {
  color: hsl(227, 10%, 46%);
}

.dg {
  color: hsl(0, 0%, 59%)
}

.dc {
  color: hsl(185, 75%, 39%);
}

.db {
  color: hsl(229, 23%, 23%)
}

.sf {
  font-size: 0.6rem;
}

.mf {
  font-size: 0.8rem;
}

.bold {
  font-weight: 700;
}

span.gb {
  font-weight: 400;
}

.london {
  padding: 0.5rem 0;
}

@media (min-width: 376px) {
  .top {
    right: 50%;
  }
  .bottom {
    left: 50%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}